.tv9-interactive__wrapper{
    position: relative;
    overflow: hidden;
    width: 100%; margin: 0 auto 20px auto;
}
.tv9-interactives {
    margin: 0 auto;
        height: auto;
        border-radius: 10px;
        position: relative;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) ; */
        width: 100%;
        max-width: 320px;
        margin-bottom: 20px;
}

.tv9-interactives>* {
    text-align: center;
    font-family: 'Georama',
        sans-serif;
}
.tv9-interactives h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-family: 'Georama',
            sans-serif;
}
/* .tv9-interactives p {
    margin: 0 0 15px 0;
} */
.tv9-interactives__lead { font-size: 14px; line-height: 16px;width: 280px;margin: 0 auto 15px auto;}
.tv9-interactives .card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    min-height: 300px;
    /* border-radius: 10px; */
    background-color: #ccc;
    /* background-image: url("img/pale-yellow.jpg"); */
    background-image: url("img/pale-blue.jpg");
    /* background-image: url("img/card-bg.jpg"); */
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-repeat: repeat;
}

.tv9-interactives__points{
    display: flex; justify-content: space-between; column-gap: 10px; margin-bottom: 15px;
    font-family: 'Georama',
            sans-serif;
}
.tv9-interactives #teamA, .tv9-interactives #teamB, .tv9-interactives #playerName {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    font-family: 'Georama',
            sans-serif;
}
.tv9-interactives .card p {
    font-weight: 500;margin: 0 0 10px 0; font-family: 'Georama',
            sans-serif;
}
.tv9-interactives button {
font-family: 'Georama',
            sans-serif;
}
.tv9-interactives .card-btns2 {
    margin-top: 10px;
    display: flex;
    column-gap: 5px;
}
.tv9-interactives #method {
    background-color: transparent; border: none;cursor: pointer;
}
.tv9-interactives .card-btns2 button, #resetBtn{
    outline: none;
    border: none;
    padding: 5px 10px;
    text-transform: uppercase;
}
.tv9-interactives .card-btns2 button:first-child{
    background-color: #ff0000;
    color: #FFF;
}
.tv9-interactives .card-btns2 button:last-child, #resetBtn{
    background-color: #000;
    color: #FFF;
}
.tv9-interactives .card-btns {
    display: flex;
    justify-content: space-between;
}

.tv9-interactives .cardA{
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
.tv9-interactives .cardA .datapoints{
    position: absolute; list-style: none; color: #fff; padding: 0;
    width: 72px; text-align: left; font-size: 12px;font-weight: 900;margin-top: 10px;
    margin-left: 10px;
}
.tv9-interactives .cardA .datapoints li{
    border-bottom: 1px solid #fff; margin-bottom: 5px; padding-bottom: 5px;line-height: 12px;
}
.tv9-interactives .cardA .datapoints li:last-child{
    border-bottom: none; 
}
.tv9-interactives .cardA .datapoints span{
    display: block;font-size: 28px;font-weight: 400; line-height: 30px;
}

/* ==================================== */
/* ModelBox */

.tv9-interactive__wrapper .modelbox {
    position: absolute;
    background-color: #ccc;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    z-index: 50;
    text-align: center;
    
}

.tv9-interactive__wrapper .model-blackout {
        position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 71%);
            opacity: 0.8;
            z-index: 49;
            top: 0;
            left: 0;
}

.tv9-interactive__wrapper .modelbox .modelbox__inner {
    position: relative;
    /* min-height: 380px; */
    box-sizing: border-box;
}

.tv9-interactive__wrapper .modelbox .modelbox__content {
    margin-top: 40px;
}
.tv9-interactive__wrapper .modelbox .modelbox__content p{
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 17px;
    font-family: 'Georama',
            sans-serif;
}

.tv9-interactive__wrapper .modelbox #closeBtn {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    top: -40px;
}

.datapoints li {
    opacity: 0;
    margin-left: -20px;
}

.datapoints li:first-child {
    animation: fadeInLeft 0.5s 0s forwards cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.datapoints li:nth-child(2) {
    animation: fadeInLeft 0.5s 0.5s forwards cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.datapoints li:nth-child(3) {
    animation: fadeInLeft 0.5s 1s forwards cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

#outputSent {
        position: absolute;
            width: 50%;
            bottom: 0;
            color: #fff;
            font-weight: 600;
            right: 0;
            /* transform: translateX(-50%); */
            font-size: 14px;
            background-color: #00000090;
            padding: 18px 6px;
            box-sizing: border-box;
            animation: fadeIn 0.5s 0s forwards cubic-bezier(0.000, 0.000, 0.580, 1.000);
            margin: 0;
            line-height: 16px;
}
#outputSent span{
    color: #f5ec95;
}

#disclaimer{
        background-color: rgb(0 0 0 / 73%);
            color: #fff;
            padding: 20px;
            box-sizing: border-box;
            position: absolute;
            width: 70%;
}

#submitError {
    color: red;
    font-size: 14px;
}

#disclaimerTxt { display: block;margin: 10px 0;}

.modelbox, .model-blackout {
    animation: fadeIn 0.5s 0s forwards cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

#closeBtnModel{
    background-color: #000;
        color: #fff;
        padding: 5px 10px;
        outline: none;
        border: none;
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:767px) {
    
    .tv9-interactive__wrapper {
        margin: 20px auto;
    }
    /* .tv9-interactive__wrapper .modelbox {width: 300px;} */
}

@media (min-width: 768px) {
    .tv9-interactive__wrapper {
            max-width: 300px;
    }
    
}